{% extends "bases/base.html" %}
{% load static %}
{% block content %}

    <h1 class = 'text-center'>Bienvenido a la plataforma de trámites de la Ilustre Municipalidad de Puren</h1>

    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Solicitar hora licencia de conducir</h3>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam odio dignissimos nihil voluptatem. Non animi unde aut, eum veniam facere nemo, sequi iste incidunt commodi, voluptatibus voluptas nisi nobis quaerat!
                    </p>
                </div>
                <div class="card-body">
                    <a href="/transito" class="btn btn-primary">ir al tramite</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cambio de domicilio de licencia de conducir</h3>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam odio dignissimos nihil voluptatem. Non animi unde aut, eum veniam facere nemo, sequi iste incidunt commodi, voluptatibus voluptas nisi nobis quaerat!
                    </p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">ir al tramite</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Solicitud de Licencia Clase D</h3>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam odio dignissimos nihil voluptatem. Non animi unde aut, eum veniam facere nemo, sequi iste incidunt commodi, voluptatibus voluptas nisi nobis quaerat!
                    </p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">ir al tramite</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Solicitud de Licencia Clase B,C</h3>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam odio dignissimos nihil voluptatem. Non animi unde aut, eum veniam facere nemo, sequi iste incidunt commodi, voluptatibus voluptas nisi nobis quaerat!
                    </p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">ir al tramite</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Pago de estacionamiento reservado de Taxi Básico</h3>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam odio dignissimos nihil voluptatem. Non animi unde aut, eum veniam facere nemo, sequi iste incidunt commodi, voluptatibus voluptas nisi nobis quaerat!
                    </p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">ir al tramite</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Pagos de Multas de Tránsito.</h3>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam odio dignissimos nihil voluptatem. Non animi unde aut, eum veniam facere nemo, sequi iste incidunt commodi, voluptatibus voluptas nisi nobis quaerat!
                    </p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">ir al tramite</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}