{% extends "bases/base.html" %}
{% load static %}
{% block content %}

    <h1 class = 'text-center p-4'>Bienvenido a la plataforma de trámites de la Ilustre Municipalidad de Puren</h1>

    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0 ">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Departamento de transito</h3>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam odio dignissimos nihil voluptatem. Non animi unde aut, eum veniam facere nemo, sequi iste incidunt commodi, voluptatibus voluptas nisi nobis quaerat!
                    </p>
                </div>
                <div class="card-body">
                    <a href="/transito" class="btn btn-primary">ir a tramites de transito</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Departamento de #</h3>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam odio dignissimos nihil voluptatem. Non animi unde aut, eum veniam facere nemo, sequi iste incidunt commodi, voluptatibus voluptas nisi nobis quaerat!
                    </p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">ir a tramites de #</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Departamento de #</h3>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam odio dignissimos nihil voluptatem. Non animi unde aut, eum veniam facere nemo, sequi iste incidunt commodi, voluptatibus voluptas nisi nobis quaerat!
                    </p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">ir a tramites de #</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
